@page "/school/{Id:int}"

@using HackathonSite.Data

@inject HContext HContext
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="top-special" style="display: flex;">
    <div class="px-4" style="width: 250px; height: 90px; display: flex; align-items: center; justify-content: center;">
        @if (School != null)
        {
            <img src="@School.LogoLink" style="max-height: 80px;" />
        }
    </div>
    <div class="px-4" style="margin: 0.5em 4em 0em 0em;">
        @if (School != null)
        {
            <h3>@School.Name.ToUpper()</h3>
            <h4>@School.Location.ToUpper()</h4>
        }
    </div>
</div>

<div class="sidebar">
    <NavMenu IsSchool="true" />
</div>

<div class="main">
    <br />

    <div class="h-carousel slider">
        <div style="width: 150px; height: 100px;">
            <img src="https://i.ibb.co/PcBBqdB/Diversity-Score2.png" style="height: 100%; width: 100%;" />
        </div>
        <div style="width: 150px; height: 100px;">
            <img src="https://i.ibb.co/GCYQb8N/ERGS.png" style="height: 100%; width: 100%;" />
        </div>
        <div style="width: 150px; height: 100px;">
            <img src="https://i.ibb.co/CHtGS84/D-I-Events2.png" style="height: 100%; width: 100%;" />
        </div>
        <div style="width: 150px; height: 100px;">
            <img src="https://i.ibb.co/9t5547m/salaries2.png" style="height: 100%; width: 100%;" />
        </div>
    </div>

    <br />

    <div style="background-color: #f5cb5c; padding: 1em;">
        <h1>
            @Page
        </h1>
    </div>

    <div hidden="@(!ShowDiversity)" style="background-color: #f5cb5c; min-height: calc(100% - 170px);">
        <br />
        <div style="width: 100%; display: flex;">
            <div style="min-width: 50%">
                <h3 style="font-weight: bold;">@(School.Name)'s Diversity Plan</h3>
            </div>
            <div>
                <p style="margin-left: 20px;">
                    @School.DiversityText
                </p>
            </div>
            <div>
                <a href="@School.DiversityReportLink" style="font-size: 25px; margin-left:1em;" target="_blank">
                    <span class="oi oi-external-link"></span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-3">
                <h5 style="font-weight: bold;">Gender Score</h5>
                <p style="font-weight: bold; font-size: 100px;">@School.GenderScore</p>
            </div>
            <div class="col-3">
                <h5 style="font-weight: bold;">Gender Breakdown (2019)</h5>
                <canvas id="currentYearGenderBreakdown" style="width: 100%; height: 160px;"></canvas>
            </div>
            <div class="col-3">
                <h5 style="font-weight: bold;">Gender Breakdown (2017 - 2019)</h5>
                <canvas id="historicGenderBreakdown" style="width: 100%; height: 160px;"></canvas>
            </div>
            <div class="col-3">
                <h5 style="font-weight: bold;">Legend</h5>
                <div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="display: flex; align-items: center; justify-content: center; height: 100%; width: 100%;">
                                    <span style="height: 24px; width: 24px; background-color: rgb(42, 61, 69); display: block;"></span>
                                </td>
                                <td>Female</td>
                            </tr>
                            <tr>
                                <td style="display: flex; align-items: center; justify-content: center; height: 100%; width: 100%;">
                                    <span style="height: 24px; width: 24px; background-color: rgb(232, 237, 223); display: block;"></span>
                                </td>
                                <td>Male</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-3">
                <h5 style="font-weight: bold;">Ethnicity Score</h5>
                <p style="font-weight: bold; font-size: 100px;">@School.EthnicityScore</p>
            </div>
            <div class="col-3">
                <h5 style="font-weight: bold;">Race / Ethnicity Breakdown (2017)</h5>
                <canvas id="currentYearEthnicityBreakdown" style="width: 100%; height: 160px;"></canvas>
            </div>
            <div class="col-3">
                <h5 style="font-weight: bold;">Race / Ethnicity Breakdown (2015 - 2017)</h5>
                <canvas id="historicEthnicityBreakdown" style="width: 100%; height: 160px;"></canvas>
            </div>
            <div class="col-3">
                <h5 style="font-weight: bold;">Legend</h5>
                <div>
                    <table class="table">
                        <tbody id="ethnicity-filter">
                            @if (Stats != null)
                            {
                                @foreach (var stat in Stats.Where(x => x.Group != "Men" && x.Group != "Women").Select(o => o.Group).Distinct())
                                {
                                    <tr>
                                        <td style="display: flex; align-items: center; justify-content: center; height: 100%; width: 100%;">
                                            <span style="height: 24px; width: 24px; background-color: @ethnicityColors[counter]; display: block;"></span>
                                        </td>
                                        <td>@stat</td>
                                    </tr>
                                    {
                                        counter += 1;
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
    </div>

    <div hidden="@(!ShowStudentGroups)">
        <p>
            @((MarkupString)School.StudentGroupText)
        </p>
    </div>

    <div hidden="@(!ShowEvents)">
        <br />
        <p>
            @*<iframe src="https://calendar.google.com/calendar/embed?src=@(Company.CalendarLink)%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0; width: 100%; height: 450px;" frameborder="0" scrolling="no"></iframe>*@
            <iframe src="https://outlook.live.com/owa/calendar/00000000-0000-0000-0000-000000000000/@(School.CalendarLink)/index.html" style="border: 0; width: 100%; height: 450px;" frameborder="0" scrolling="no"></iframe>
        </p>
    </div>

    <div hidden="@(!ShowTuitions)" style="background-color: #f5cb5c; min-height: calc(100% - 170px);">
        <br />
        <div class="row">
            <div class="col-6" style="text-align: center;">
                <h5 style="font-weight: bold;">In-State Tuition</h5>
                <p style="font-weight: bold; font-size: 60px;">$@School.InStateTuition.ToString("#,##0")*</p>
            </div>
            <div class="col-6" style="text-align: center;">
                <h5 style="font-weight: bold;">Out of State Tuition</h5>
                <p style="font-weight: bold; font-size: 60px;">$@School.OutStateTuition.ToString("#,##0")*</p>
            </div>
        </div>
        <div style="max-width: 60%; margin: auto;">
            <p style="font-style: italic;">
                *Tuition offers can vary by a number of factors. These averges are provided by the schools, but should not be seen as fixed prices.
            </p>
        </div>
        <div class="row">
            <div class="col-6 offset-2">

            </div>
        </div>
    </div>
</div>

@code
{
    [ParameterAttribute]
    public int Id { get; set; }

    public string Page { get; set; }
    public string Text { get; set; }

    public bool ShowDiversity { get; set; }
    public bool ShowStudentGroups { get; set; }
    public bool ShowEvents { get; set; }
    public bool ShowTuitions { get; set; }

    public School School { get; set; }
    public List<DiversityStat> Stats { get; set; }
    public List<TuitionStat> TuitionStats { get; set; }

    private bool FirstPass = true;

    private int counter = 0;
    private string[] ethnicityColors = { "rgb(42, 61, 69)", "rgb(92, 91, 67)", "rgb(141, 120, 64)", "rgb(190, 170, 111)", "rgb(239, 220, 158)", "rgb(236, 229, 191)", "rgb(232, 237, 223)" };

    protected override async Task OnInitializedAsync()
    {
        FirstPass = true;
        // default option
        await UpdateContent(0);
        // before I worry about database
        if (Id == 0)
        {
            School = new School
            {
                Id = 0,
                Name = "University of Michigan",
                LogoLink = "https://bjatta.bja.ojp.gov/sites/default/files/u-m_logo-hex_0.png",
                Location = "Ann Arbor, Michigan",
                //CalendarLink = "51knhc057dqa5e9urjbto6b8t4",
                CalendarLink = "69430fd7-3173-4280-bc37-a54ad21f058c/cid-872D38727EAF682A",
                GenderScore = "93%",
                InStateTuition = 15558,
                OutStateTuition = 51200,
                EthnicityScore = "73%",
                DiversityText = "This page contains some diversity metrics at University of Michigan. Click the link to the right for a comprehensive list of our diversity objectives.",
                DiversityReportLink = "https://diversity.umich.edu/strategic-plan/",
                StudentGroupText = "<div class=\"m-content-placement x-clearfix\"> <div class=\"row\">        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/4cdbace6-2c16-4cea-9380-7b8aceeb4ddc83c0c134-f74e-45aa-91bd-6ef1e9412221.png?preset=small-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Black Student Union</h3>        <div><p>The purpose of the BSU is to promote and sustain an atmosphere that is conducive to the political, cultural, social, spiritual, economic, and educational growth of students of African descent and the University community at-large.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/fe094329-b081-4577-bfe2-3b8604026ec2d5e4542d-79ed-4f7d-a9fb-ae6ae1096a4c.PNG?preset=small-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Asian American Association</h3>        <div><p>Asian American Association (AAA) is a nonprofit student organization aimed at promoting racial diversity, community, and tolerance at the University of Michigan through collaborative social, service, and cultural events.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/071899a4-fcad-455c-ada7-b405cbd15b109ee8eb7d-bd3c-4e3d-b5cc-90d7d796ef91.png?preset=small-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Spectrum Center Programming Board</h3>        <div><p>The Spectrum Center Programming Board is a volunteer leadership opportunity and student organization run through the Spectrum Center, supporting major Spectrum events and hosting our own unique programming.	</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/ebb1dedb-767d-4798-bb4f-90ef74c24f0479a9b250-bc58-4aa1-9841-8b9160017791.jpg?preset=small-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>American Medical Women's Association</h3>        <div><p>AMWA is an organization of medical students interested in gender equity in medicine and women's health. Since we receive funding from various sources at the medical school, AMWA is open only to medical students at this time.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/fcbdfb78-e5fc-492b-bef0-d741f27e280bfa8009c7-6846-47ed-869a-c21bcc200ee9.png?preset=small-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Hispanic Business Students Association</h3>        <div><p>The Hispanic Business Students Association provides academic support and professional development opportunities to US-based Hispanics at the Ross School of Business.  We are committed to the recruitment of prospective Hispanics interested in business.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/373506dd-cb43-45ac-ab67-d42cc7d50719736f79d5-bdcd-499d-b8c5-f7409a50a8b5.png?preset=small-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Disability Rights Organization</h3>        <div><p>This organization at the law school will serve to advocate for students with disabilities in the legal community.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/6ec8b5bd-0050-47ad-826e-5de98fbecc21eec079bb-f8ff-480c-86e0-ff4d751c944a.jpg?preset=small-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Support for Incoming Black Students</h3>        <div><p>The mission of SIBS is to increase the retention and success of black students by providing mentorship and unique opportunities for learning and engagement within the broader University of Michigan community.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/344bd6db-3574-487c-b3cc-9f4fb2ce80d2eaa2111d-b314-411f-8325-1952b8665523.JPG?preset=med-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Native American Student Association</h3>        <div><p>The Native American Student Association fosters community among Native students on campus and those interested in American Indian political issues, cultural practices, and language. NASA holds multiple events each semester, we invite you to join us!</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/b21c9343-2f46-400e-946a-5c132082a376b42ce576-472d-4081-8287-e732399ee192.png?preset=small-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>United Asian American Organization</h3>        <div><p>The United Asian American Organizations is an umbrella organization of groups on campus working to build community around the sharing of the unique experiences, histories, and cultures of Asian/Pacific Islander Americans.</p>					</div>				</section>            </div>        </div>    </div></div>"
            };

            //HContext.Companies.Add(Company);
            //HContext.SaveChanges();
        }
        else if (Id == 1)
        {
            School = new School
            {
                Id = 1,
                Name = "Howard University",
                LogoLink = "https://res-2.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco/cpibyutz8nftokhdiygu",
                Location = "Washington, D.C.",
                //CalendarLink = "fe2gdontdjfi5018rm40kf8h3o",
                CalendarLink = "13ba2870-3003-4472-a836-020b270376a7/cid-872D38727EAF682A",
                GenderScore = "33%",
                InStateTuition = 27206,
                OutStateTuition = 27206,
                EthnicityScore = "20%",
                DiversityText = "Our students come from all over the United States and the world with myriad cultural backgrounds, gender expressions, and abilities. The Division of Student Affairs supports, celebrates, and embraces its students' differences. We would not be the multifaceted community we are without the unique experiences and perspectives of our students.",
                DiversityReportLink = "https://studentaffairs.howard.edu/diversity-inclusion",
                StudentGroupText = "<div class=\"m-content-placement x-clearfix\">    <div class=\"row\">        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/1323fda3-ecbe-4e83-8408-555d15def90efe6f8b5f-3bb8-4fb1-813f-5750f0b13f1c.jpg?preset=med-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Society of Collegiate Black Men</h3>        <div><p>The Society of Collegiate Black Men is a fraternal organization created to raise the standard of manhood on Howard University's campus and the community abroad.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/c6a74b15-838a-4887-9980-ad012341318dab4d793f-e700-40bf-b120-76f5de0a7fa1.JPG?preset=med-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Young AfricanA Leadership Initiative</h3>        <div><p>Our mission is to allow young Africana (African American, Caribbean, and Latin American) student leaders to obtain the skills, research and service learning experiences they need to be global citizens.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/69f11aa7-d54c-435a-bf61-f9995c7f06b9a993cfd8-1d93-467f-8f0e-ce1c79e00f45.jpg?preset=med-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Office of Student Life and Affairs</h3>        <div><p>The mission of the Office of Student Life & Activities is to provide leadership development and sustained implementation of a student-centered community.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/7edb0bec-e22e-440e-a09a-3da0bae0532e16b2b3ac-9b79-4780-9a7d-eadcdffa511a.JPG?preset=med-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>African Students' Association</h3>        <div><p>In accordance with the founding mission of this organization to promote the unity, progress and strength of students of African descent as well as those of non-African descent on campus,the Howard University African Students Association (HU ASA)</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/9c626ff4-01f2-4958-9ab6-c672f721b2e00699c8d5-418a-42a4-98d4-7fc9a6217494.jpg?preset=med-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Coalition of Activist Students Celebrating the Acceptance of Diversity and Equality</h3>        <div><p>CASCADE stands for the Coalition of Activist Students Celebrating the Acceptance of Diversity and Equality. We are Howard University's official undergraduate LGBTQ+ student organization representing all schools and colleges.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/e901ba2d-1ea8-4cbd-82c8-cd46bddd48c954349ec2-c5f7-48a7-9448-f0319b9bb51a.png?preset=med-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>oSTEM</h3>        <div><p>Howard oSTEM engages LGBT+ people in STEM in the greater DC area. Furthermore, Howard’s chapter will push to influence LGBT+ youth in schools to grow and flourish in the workforce.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/59a303bb-2284-4678-9128-7a0416d5b99461ccf0d0-2799-4caf-b0c3-dc1198b514e6.jpg?preset=med-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>National Society of Black Engineers</h3>        <div><p>The mission of NSBE is to increase the number of culturally responsible Black Engineers who excel academically, succeed professionally and positively impact the community.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://se-infra-imageserver2.azureedge.net/clink/images/c9242822-707f-4b20-a892-e2050473d4d1a4f4ac9d-8dfd-48ce-9c45-20b592d1874c.png?preset=med-sq\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>National Association of Black Accountants Howard University Chapter</h3>        <div><p>The National Association of Black Accountants Howard Chapter dedicated to bridging the opportunity gap for people of color in the Accounting, Finance, Consulting, Information Technology by providing education, resources, and meaningful career connections.</p>					</div>        				</section>            </div>        </div>        </div>    </div></div>"
            };
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // carousel stuff
        var dotNetReference = DotNetObjectReference.Create(this);
        await JSRuntime.InvokeVoidAsync("cacheReference", dotNetReference);
        await JSRuntime.InvokeVoidAsync("initCarousel");

        counter = 0;

        if (FirstPass)
        {
            FirstPass = false;
            // download tuition
            TuitionStats = await HContext.TuitionStats
                .Where(o => o.CompanyId == 2 + Id)
                .ToListAsync();
            // download stats
            Stats = await HContext.DiversityStats
                .Where(o => o.CompanyId == 2 + Id)
                .ToListAsync();
            // chart stuff
            await JSRuntime.InvokeVoidAsync("initCharts", Stats, ethnicityColors);
            StateHasChanged();
        }
    }

    [JSInvokable("UpdateContent")]
    public async Task UpdateContent(int currentSlide)
    {
        ShowDiversity = false;
        ShowStudentGroups = false;
        ShowEvents = false;
        ShowTuitions = false;

        if (currentSlide == 0)
        {
            ShowDiversity = true;
            Page = "Diversity Info";
        }
        else if (currentSlide == 1)
        {
            ShowStudentGroups = true;
            Page = "Student Groups";
        }
        else if (currentSlide == 2)
        {
            ShowEvents = true;
            Page = "D&I Events";
        }
        else if (currentSlide == 3)
        {
            ShowTuitions = true;
            Page = "Tuition";
        }

        StateHasChanged();
    }
}
