@page "/company/{Id:int}"

@using HackathonSite.Data

@inject HContext HContext
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="top-special" style="display: flex;">
    <div class="px-4" style="width: 250px; height: 90px; display: flex; align-items: center; justify-content: center;">
        @if (Company != null)
        {
            <img src="@Company.LogoLink" style="max-height: 80px;" />
        }
    </div>
    <div class="px-4" style="margin: 0.5em 4em 0em 0em;">
        @if (Company != null)
        {
            <h3>@Company.Name.ToUpper()</h3>
            <h4>@Company.Location.ToUpper()</h4>
        }
    </div>
</div>

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <br />

    <div class="h-carousel slider">
        <div>Diversity Info</div>
        <div>ERGs</div>
        <div>D&amp;I Events</div>
        <div>Salaries</div>
    </div>

    <br />

    <div style="background-color: #f5cb5c; padding: 1em;">
        <h1>
            @Page
        </h1>
    </div>

    <div hidden="@(!ShowDiversity)" style="background-color: #f5cb5c; min-height: calc(100% - 170px);">
        <br />
        <div style="width: 100%; display: flex;">
            <div style="min-width: 50%">
                <h3 style="font-weight: bold;">@(Company.Name)'s Annual Report</h3>
            </div>
            <div>
                <p style="margin-left: 20px;">
                    @Company.DiversityText
                </p>
            </div>
            <div>
                <a href="@Company.DiversityReportLink" style="font-size: 25px; margin-left:1em;" target="_blank">
                    <span class="oi oi-external-link"></span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-3">
                <h5 style="font-weight: bold;">Gender Score</h5>
                <p style="font-weight: bold; font-size: 80px;">@Company.GenderScore</p>
            </div>
            <div class="col-3">
                <h5 style="font-weight: bold;">Gender Breakdown (2019)</h5>
                <p>insert graph here</p>
            </div>
            <div class="col-3">
                <h5 style="font-weight: bold;">Gender Breakdown (2017 - 2019)</h5>
                <p>insert graph here</p>
            </div>
            <div class="col-3">
                <h5 style="font-weight: bold;">Legend</h5>
                <p>this is a test</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h5 style="font-weight: bold;">Ethnicity Score</h5>
                <p style="font-weight: bold; font-size: 80px;">@Company.EthnicityScore</p>
            </div>
            <div class="col-3">
                <h5 style="font-weight: bold;">Race / Ethnicity Breakdown (2019)</h5>
                <p>insert graph here</p>
            </div>
            <div class="col-3">
                <h5 style="font-weight: bold;">Race / Ethnicity Breakdown (2017 - 2019)</h5>
                <p>insert graph here</p>
            </div>
            <div class="col-3">
                <h5 style="font-weight: bold;">Legend</h5>
                <p>this is a test</p>
            </div>
        </div>
        <br />
        <div>

        </div>
    </div>

    <div hidden="@(!ShowERG)">
        <p>
            @((MarkupString)Company.ERGText)
        </p>
    </div>

    <div hidden="@(!ShowEvents)">
        <br />
        <p>
            @*<iframe src="https://calendar.google.com/calendar/embed?src=@(Company.CalendarLink)%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0; width: 100%; height: 450px;" frameborder="0" scrolling="no"></iframe>*@
            <iframe src="https://outlook.live.com/owa/calendar/00000000-0000-0000-0000-000000000000/@(Company.CalendarLink)/index.html" style="border: 0; width: 100%; height: 450px;" frameborder="0" scrolling="no"></iframe>
        </p>
    </div>

    <div hidden="@(!ShowSalaries)" style="background-color: #f5cb5c; min-height: calc(100% - 170px);">
        <br />
        <div style="height: 100%; width: 100%; text-align: center;">
            <h3 style="font-weight: bold; color: white;">Average Salary for @(Company.DemoJob)s at @Company.Name</h3>
            <h4 style="font-weight: bold;">@Company.DemoJobSalary*</h4>
            <div style="max-width: 60%; margin: auto;">
                <p style="font-style: italic;">
                    *This number is an estimate and can vary due to location, experience, tenure, and other factors. Explore salaries <span style="text-decoration: underline;">across industries</span> for this position below.
                </p>
            </div>
            <br />
            <div style="text-align: left;" class="container-fluid">
                <div class="row">
                    <div class="col-3" style="background-color: white; font-size: 16px; font-weight: bold; border-radius: 5px;">
                        <p style="color: rgb(207, 219, 213); font-size: 20px;">Information</p>
                        <p>Position</p>
                        <select class="form-control" disabled>
                            <option value="@Company.DemoJob">@Company.DemoJob</option>
                        </select>
                        <p>Gender</p>
                        <select class="form-control" @bind="SalaryGenderFilter">
                            <option value=""></option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                        <p>Ethnicity</p>
                        <select class="form-control" @bind="SalaryEthnicityFilter">
                            <option value=""></option>
                            <option value="1">American Indian or Alaska Native</option>
                            <option value="2">Asian</option>
                            <option value="3">Black or African American</option>
                            <option value="4">Hispanic or Latino</option>
                            <option value="4">Native Hawaiian or Pacific Islander</option>
                            <option value="5">White</option>
                        </select>
                        <p>Location</p>
                        <select class="form-control" @bind="SalaryLocationFilter">
                            <option value=""></option>
                            <option value="Alabama">Alabama</option>
                            <option value="Alaska">Alaska</option>
                            <option value="Arizona">Arizona</option>
                            <option value="Arkansas">Arkansas</option>
                            <option value="California">California</option>
                            <option value="Colorado">Colorado</option>
                            <option value="Connecticut">Connecticut</option>
                            <option value="Delaware">Delaware</option>
                            <option value="Florida">Florida</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Idaho">Idaho</option>
                            <option value="Illinois">Illinois</option>
                            <option value="Indiana">Indiana</option>
                            <option value="Iowa">Iowa</option>
                            <option value="Kansas">Kansas</option>
                            <option value="Kentucky">Kentucky</option>
                            <option value="Louisiana">Louisiana</option>
                            <option value="Maine">Maine</option>
                            <option value="Maryland">Maryland</option>
                            <option value="Massachusetts">Massachusetts</option>
                            <option value="Michigan">Michigan</option>
                            <option value="Minnesota">Minnesota</option>
                            <option value="Mississippi">Mississippi</option>
                            <option value="Missouri">Missouri</option>
                            <option value="Montana">Montana</option>
                            <option value="Nebraska">Nebraska</option>
                            <option value="Nevada">Nevada</option>
                            <option value="New Hampshire">New Hampshire</option>
                            <option value="New Jersey">New Jersey</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="New York">New York</option>
                            <option value="North Carolina">North Carolina</option>
                            <option value="North Dakota">North Dakota</option>
                            <option value="Ohio">Ohio</option>
                            <option value="Oklahoma">Oklahoma</option>
                            <option value="Oregon">Oregon</option>
                            <option value="Pennsylvania">Pennsylvania</option>
                            <option value="Rhode Island">Rhode Island</option>
                            <option value="South Carolina">South Carolina</option>
                            <option value="South Dakota">South Dakota</option>
                            <option value="Tennessee">Tennessee</option>
                            <option value="Texas">Texas</option>
                            <option value="Utah">Utah</option>
                            <option value="Vermont">Vermont</option>
                            <option value="Virginia">Virginia</option>
                            <option value="Washington">Washington</option>
                            <option value="West Virginia">West Virginia</option>
                            <option value="Wisconsin">Wisconsin</option>
                            <option value="Wyoming">Wyoming</option>
                        </select>
                        <br />
                    </div>
                    <div class="col-9" style="display: flex; align-items: center; flex-direction: column">
                        <br />
                        <br />
                        <p style="font-size: 1.75rem; font-weight: bold; margin-bottom: 0;">
                            Average Salary for Filter
                        </p>
                        <p style="font-size: 1.75rem; font-weight: bold;">
                            @(CurrentSalaryItem == null ? "No Data" : "$" + CurrentSalaryItem.TotalSalary.ToString("#,##0") + " per year")
                        </p>
                        <div style="display: flex; flex-direction: row; width: 75%; justify-content: space-between">
                            <div style="display: flex; flex-direction: column; text-align: center; font-weight: bold;">
                                <span>Base Salary</span>
                                <span>@(CurrentSalaryItem == null ? "No Data" : "$" + CurrentSalaryItem.Salary.ToString("#,##0"))</span>
                            </div>
                            <div style="display: flex; flex-direction: column; text-align: center; font-weight: bold;">
                                <span>Bonus</span>
                                <span>@(CurrentSalaryItem == null ? "No Data" : "$" + CurrentSalaryItem.Bonus.ToString("#,##0"))</span>
                            </div>
                            <div style="display: flex; flex-direction: column; text-align: center; font-weight: bold;">
                                <span>Get Bonus</span>
                                <span>@(CurrentSalaryItem == null ? "No Data" : CurrentSalaryItem.GetBonus.ToString() + "%")</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>

@code
{
    [ParameterAttribute]
    public int Id { get; set; }

    public string Page { get; set; }
    public string Text { get; set; }

    public bool ShowDiversity { get; set; }
    public bool ShowERG { get; set; }
    public bool ShowEvents { get; set; }
    public bool ShowSalaries { get; set; }

    public SalaryItem CurrentSalaryItem { get; set; }

    private string salaryGenderFilter;
    private string salaryEthnicityFilter;
    private string salaryLocationFilter;

    public string SalaryGenderFilter
    {
        get
        {
            return salaryGenderFilter;
        }
        set
        {
            if (value == string.Empty)
            {
                salaryGenderFilter = null;
            }
            else
            {
                salaryGenderFilter = value;
            }
            UpdateSalaryInformation();
        }
    }

    public string SalaryEthnicityFilter
    {
        get
        {
            return salaryEthnicityFilter;
        }
        set
        {
            if (value == string.Empty)
            {
                salaryEthnicityFilter = null;
            }
            else
            {
                salaryEthnicityFilter = value;
            }
            UpdateSalaryInformation();
        }
    }
    public string SalaryLocationFilter
    {
        get
        {
            return salaryLocationFilter;
        }
        set
        {
            if (value == string.Empty)
            {
                salaryLocationFilter = value;
            }
            else
            {
                salaryLocationFilter = value;
            }
            UpdateSalaryInformation();
        }
    }

    public Company Company { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // default option
        await UpdateContent(0);
        // before I worry about database
        if (Id == 0)
        {
            Company = new Company
            {
                Id = 0,
                Name = "Comcast Corporation",
                LogoLink = "https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.communitynewspapers.com%2Fwp-content%2Fuploads%2F2014%2F03%2FComcast-logo.jpg&f=1&nofb=1",
                Location = "Philadelphia, PA",
                //CalendarLink = "51knhc057dqa5e9urjbto6b8t4",
                CalendarLink = "69430fd7-3173-4280-bc37-a54ad21f058c/cid-872D38727EAF682A",
                GenderScore = "A-",
                EthnicityScore = "B-",
                DiversityText = "This page contains some diversity metrics at Comcast. Click the link to the right for a comprehensive report of our diversity initiatives.",
                DiversityReportLink = "https://update.comcast.com/wp-content/uploads/sites/33/dlm_uploads/2019/05/ComcastNBCU_print_0730-web.pdf",
                ERGText = "<div class=\"m-content-placement x-clearfix\">    <div class=\"row\">        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://jobs.comcast.com/media/img/original/2019/01/jobs_labs_image-movements-ben.png\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Black Employee Network (BEN)</h3>        <div><p>The Black Employee Network (BEN) enhances, influences and strengthens the relationships of Black employees with each other and the wider Comcast community, with the goal of fostering a culture of inclusion within the workforce. Through professional development, career management, mentoring and networking opportunities, BEN strives to engage, empower and develop all employees, while investing in the communities in which we live and work.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://jobs.comcast.com/media/img/original/2019/01/jobs_labs_image-movements-asian.png\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Asian Pacific Americans (APA)</h3>        <div><p>Asian Pacific Americans (APA) aims to positively influence the attraction, promotion and retention of Asian and Pacific Islander American talent at Comcast, by providing its members with professional development, community outreach, cultural enrichment, leadership, and networking opportunities, all in service of creating and sustaining a diverse and inclusive work environment.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://jobs.comcast.com/media/img/original/2019/01/jobs_labs_image-movements-myabilities-network.png\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>MyAbilities Network</h3>        <div><p>MyAbilities empowers People with Disabilities and their allies across the enterprise via increased exposure, leadership, mentoring and development opportunities, while championing a safe and welcoming disability-sensitive work environment. MyAbilities is committed to cultivating a workplace that is reflective of and responsive to all the communities and customers we serve, enabling individual and company success.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://jobs.comcast.com/media/img/original/2019/01/jobs_labs_image-movements-out.png\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>OUT@Comcast</h3>        <div><p>These movement enhances employee engagement by creating an environment where everyone – including LGBTQ employees and their allies – is comfortable bringing their authentic selves to work every day. OUT provides leadership, networking, development and volunteer opportunities to its LGBTQ and straight ally members. OUT contributes to an LGBTQ aware and inclusive culture and supports Comcast's goal of attracting, developing, retaining, and engaging diverse talent.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://jobs.comcast.com/media/img/original/2019/01/jobs_labs_image-movements-unidos.png\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Unidos@Comcast</h3>        <div><p>Unidos educates, unites and empowers Hispanic/Latino professionals at Comcast while creating an environment where all employees can embrace Hispanic cultures. Unidos provides leadership opportunities, professional development and service to multicultural communities, all in support of impacting business goals and advancing careers.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://jobs.comcast.com/media/img/original/2019/01/jobs_labs_image-movements-ypn.png\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Young Professionals Network (YPN)</h3>        <div><p>The Young Professionals Network (YPN) at Comcast strives to impact innovation, collaboration and exceptional business results at Comcast, while providing leadership, mentorship, networking and community service opportunities for future leaders, and supporting a company culture of inclusivity.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://jobs.comcast.com/media/img/original/2019/11/jobs_WMNS_NET_2C.JPG\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Women's Network</h3>        <div><p>Comcast Women's Network provides opportunities for women and their allies to connect with each other while empowering them to advance their careers through professional growth opportunities, forums to network, and educational resources. The Women’s Network champions an inclusive work environment that helps drive our business forward.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://jobs.comcast.com/media/img/original/2019/01/jobs_labs_image-movements-veterans-network.png\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Veterans Network (VetNet)</h3>        <div><p>Open to all, the Comcast Veterans Network (VetNet) supports Comcast Veteran employees and their spouses, members of the active duty, National Guard and reserve components of the United States Military through volunteering, advocacy, career development and community partnerships. VetNet is critical to fostering a business culture that recognizes, supports and develops the unique characteristics of Veterans throughout Comcast and within our communities.</p>					</div>        				</section>            </div>        </div>    </div></div>",
                DemoJob = "Technician",
                DemoJobSalary = "$40,000"
            };

            //HContext.Companies.Add(Company);
            //HContext.SaveChanges();
        }
        else if (Id == 1)
        {
            Company = new Company
            {
                Id = 1,
                Name = "Microsoft Corporation",
                LogoLink = "https://i.ibb.co/qRNKM0v/mslogo.jpg",
                Location = "Redmond, WA",
                //CalendarLink = "fe2gdontdjfi5018rm40kf8h3o",
                CalendarLink = "13ba2870-3003-4472-a836-020b270376a7/cid-872D38727EAF682A",
                GenderScore = "B+",
                EthnicityScore = "B-",
                DiversityText = "Since 2014, we’ve been among just three percent of the Fortune 500 companies to share our full workforce demographic data with the public. It’s one way we hold ourselves accountable to our goal—and our responsibility—to increase diversity among Microsoft employees.",
                DiversityReportLink = "https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RE4aqv1",
                ERGText = "<div class=\"m-content-placement x-clearfix\">    <div class=\"row\">        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4GKF3?ver=1438&q=90&m=6&h=214&w=380&b=%23FFFFFFFF&l=f&o=t&x=450&y=153&aim=true\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Blacks at Microsoft (BAM)</h3>        <div><p>Founded in 1989, our first employee resource group, BAM, has led investment in programs like the BAM scholarships and Minority Student Day, an outreach event it hosts annually to educate students on careers in the tech industry. BAM also partners with community organizations across its 15 chapters.</p>					<a class=\"c-call-to-action c-glyph\" aria-label=\"Blacks at Microsoft Scholarship\" data-m=\"{&quot;cN&quot;:&quot;BAM scholarships&quot;,&quot;cT&quot;:&quot;0&quot;,&quot;id&quot;:&quot;n1c1m1r6a2&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c1m1r6a2&quot;}\" href=\"https://www.microsoft.com/en-us/diversity/programs/blacks-scholarships.aspx\">                		<span>BAM scholarships</span>            		</a>					</div>				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4HhMt?ver=48e8&q=90&m=6&h=214&w=380&b=%23FFFFFFFF&l=f&o=t&x=511&y=65&aim=true\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>GLEAM</h3>        <div><p>The Global LGBTQI+ Employees and Allies at Microsoft (GLEAM) employee resource group, provides support, advocacy, networking opportunities, external outreach to community non-profits, and promotes education within Microsoft. GLEAM also actively helps to attract, retain and develop LGBTQI+ people and raises awareness about the LGBTQI+ community to increase ally engagement.</p>					</div>					<a class=\"c-call-to-action c-glyph\" aria-label=\"Pride at Microsoft L G B T Q I + community\" data-m=\"{&quot;cN&quot;:&quot;Pride at Microsoft&quot;,&quot;cT&quot;:&quot;0&quot;,&quot;id&quot;:&quot;n1c2m1r6a2&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2m1r6a2&quot;}\" href=\"https://www.microsoft.com/en-us/pride?rtc=1\">                		<span>Pride at Microsoft</span>            		</a>				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE47MEA?ver=c7f5&q=90&m=6&h=214&w=380&b=%23FFFFFFFF&l=f&o=t&x=498&y=92&aim=true\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Disability at Microsoft</h3>        <div><p>Representing employees with conditions such as hearing loss, blindness, visual impairments, ADD, mobility disabilities, and dyslexia, the Microsoft Disability employee resource group drives internal visibility and collaborates with product teams to design, develop, and build accessible, inclusive products.</p>					</div>        					<a class=\"c-call-to-action c-glyph\" aria-label=\"Disability E R G scholarships\" data-m=\"{&quot;cN&quot;:&quot;Disability ERG scholarships&quot;,&quot;cT&quot;:&quot;0&quot;,&quot;id&quot;:&quot;n1c3m1r6a2&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c3m1r6a2&quot;}\" href=\"https://www.microsoft.com/en-us/diversity/programs/microsoftdisabilityscholarship.aspx\">                		<span>Disability ERG scholarships</span>            		</a>				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE47RTj?ver=5a60&q=90&m=6&h=214&w=380&b=%23FFFFFFFF&l=f&o=t&aim=true\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Military at Microsoft</h3>        <div><p>Military at Microsoft advocates for current and former military members, spouses, and supporters worldwide. The group works closely with Microsoft Software &amp; Systems Academy (MSSA) to provide transitioning service members and veterans with critical technology career skills.</p>					<a class=\"c-call-to-action c-glyph\" aria-label=\"microsoft military affairs military at microsoft\" data-m=\"{&quot;cN&quot;:&quot;Microsoft military affairs&quot;,&quot;cT&quot;:&quot;0&quot;,&quot;id&quot;:&quot;n1c4m1r6a2&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c4m1r6a2&quot;}\" href=\"https://military.microsoft.com/\">                		<span>Microsoft military affairs</span>            		</a>					</div>				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4GF9e?ver=62c8&q=90&m=6&h=214&w=380&b=%23FFFFFFFF&l=f&o=t&x=304&y=194&aim=true\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Asians at Microsoft</h3>        <div><p>Representing 17 ethnicity groups, the mission of the Asians employee resource group is to accelerate the advancement of Asian employees at Microsoft, increase the community’s influence, and build a network of camaraderie and support within the community and with allies.</p>					</div>   				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4GNlR?ver=c386&q=90&m=6&h=214&w=380&b=%23FFFFFFFF&l=f&o=t&x=486&y=140&aim=true\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Families at Microsoft</h3>        <div><p>The Families employee resource group provides resources, shared experiences and information, and serves as a voice of support for our diverse families across Microsoft. Signature events include Bring Your Kids to Work Day and the annual MS Adoption Fair.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4GIlh?ver=6cab&q=90&m=6&h=214&w=380&b=%23FFFFFFFF&l=f&o=t&x=444&y=170&aim=true\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>HOLA</h3>        <div><p>The Hispanic/Latinx employee resource group (HOLA) serves as a resource for promoting products and services to Hispanic and Latinx communities and organizations worldwide. The group also helps inspire future Hispanic and Latinx employees and advance the careers of current ones.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4GSav?ver=6849&q=90&m=6&h=214&w=380&b=%23FFFFFFFF&l=f&o=t&aim=true\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Women at Microsoft</h3>        <div><p>Women at Microsoft actively helps to attract, retain, and develop women around the world. Its programs focus on sparking girls’ interest in technology careers, supporting women-focused initiatives and organizations, and providing career and professional development resources for women once they are employees at Microsoft.</p>					</div>        				</section>            </div>        </div>        <div class=\"col-4\">            <div class=\"col-12\">				<section>					<div style=\"height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;\">						<img src=\"https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4GIlo?ver=f507&q=90&m=6&h=214&w=380&b=%23FFFFFFFF&l=f&o=t&aim=true\" style=\"max-height: 200px; max-width: 200px;\">					</div>					<h3>Indigenous community</h3>        <div><p>As the ninth and newest employee resource group, Indigenous at Microsoft strives to honour, share and celebrate Indigenous cultures within and beyond Microsoft while shaping inclusive technology to empower future generations.</p>					</div>        				</section>            </div>        </div>    </div></div>",
                DemoJob = "Software Engineer",
                DemoJobSalary = "$119,376"
            };
        }

        UpdateSalaryInformation();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var dotNetReference = DotNetObjectReference.Create(this);
        await JSRuntime.InvokeVoidAsync("cacheReference", dotNetReference);

        await JSRuntime.InvokeVoidAsync("initCarousel");
    }

    public void UpdateSalaryInformation()
    {
        if (Company != null)
        {
            Console.WriteLine(Company.DemoJob);
        }
        Console.WriteLine(salaryGenderFilter);
        Console.WriteLine(salaryEthnicityFilter);
        Console.WriteLine(salaryLocationFilter);

        CurrentSalaryItem = HContext.SalaryItems
            .Where(o => o.Job == Company.DemoJob)
            .Where(o => o.Gender == salaryGenderFilter)
            .Where(o => o.Ethnicity == salaryEthnicityFilter)
            .Where(o => o.State == SalaryLocationFilter)
            .FirstOrDefault();

        StateHasChanged();
    }

    [JSInvokable("UpdateContent")]
    public async Task UpdateContent(int currentSlide)
    {
        ShowDiversity = false;
        ShowERG = false;
        ShowEvents = false;
        ShowSalaries = false;

        if (currentSlide == 0)
        {
            ShowDiversity = true;
            Page = "Diversity Info";
        }
        else if (currentSlide == 1)
        {
            ShowERG = true;
            Page = "ERGs";
        }
        else if (currentSlide == 2)
        {
            ShowEvents = true;
            Page = "D&I Events";
        }
        else if (currentSlide == 3)
        {
            ShowSalaries = true;
            Page = "Salaries";
        }

        StateHasChanged();
    }
}
